<h2 id="title">Welcome to Ember</h2>

<AriaTabs @active="agnes" as |TabPanel select|>
<div role="tablist" aria-label="Entertainment">
   <button role="tab"
            aria-selected="true"
            aria-controls="nils-tab"
            id="nils"
            {{on 'click' (fn select 'nils')}}
            >

      Nils Frahm
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="agnes-tab"
            id="agnes"
            tabindex="-1"
            {{on 'click' (fn select 'agnes')}}
            >
      Agnes Obel
    </button>
    <button role="tab"
            aria-selected="false"
            aria-controls="complexcomplex"
            id="complex"
            tabindex="-1"
            data-deletable=""
            {{on 'click' (fn select 'complex')}}
            
            >
      Joke
    </button>
</div>
<TabPanel @id="nils" >
<p>
      Nils Frahm is a German musician, composer and record producer based in Berlin. He is known for combining classical and electronic music and for an unconventional approach to the piano in which he mixes a grand piano, upright piano, Roland Juno-60, Rhodes piano, drum machine, and Moog Taurus.
    </p>
</TabPanel>

<TabPanel @id="agnes">
<p>
      Agnes Caroline Thaarup Obel is a Danish singer/songwriter. Her first album, Philharmonics, was released by PIAS Recordings on 4 October 2010 in Europe. Philharmonics was certified gold in June 2011 by the Belgian Entertainment Association (BEA) for sales of 10,000 Copies.
    </p>

</TabPanel>
<TabPanel @id="complexcomplex">
 <p>
      Fear of complicated buildings:
    </p>
    <p>
      A complex complex complex.
    </p>
  </TabPanel>
</AriaTabs>
{{outlet}}